.callback {
  background-color: #2D323E;
  padding-top: 35px;
  padding-bottom: 34px;
  background-image: url("../img/callback-bg.png");
  background-size: cover;
  margin-bottom: 65px;
  @media ($desktop_width) {
    padding-top: 88px;
    padding-bottom: 88px;
    margin-bottom: 86px;
  }
}

.callback__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.15);
  border-radius: 46px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 375px;
  @media (min-width: 425px) {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  @media ($desktop_width) {
    max-width: 1123px;
    padding-top: 56px;
    padding-bottom: 5s6px;
  }
}

.callback__title {
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 30px;
  @media ($desktop_width) {
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 52px;
  }
}

.callback__form-policy {
  font-size: 8px;
  line-height: 10px;
  color: #858585;
  padding-left: 17px;
  padding-right: 15px;
  display: block;
}

.callback__form-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 13px;
  @media ($desktop_width) {
    max-width: 300px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 32px;
  }
}

.callback__form-input {
  width: 100%;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: #F7F7F7;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding-left: 23px;
  padding-right: 35px;
  color: #000000;
  opacity: 0.5;
  @media ($desktop_width) {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 33px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

.callback__form-btn {
  max-width: 100%;
  box-shadow: none;
  border: none;
}

.callback__form-item--name {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 12px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M10.6993 10.7222L8.20722 9.52825C7.97217 9.4155 7.82609 9.189 7.82609 8.937V8.09175C7.88583 8.02175 7.9487 7.942 8.01365 7.854C8.33687 7.4165 8.59591 6.9295 8.78426 6.40425C9.15235 6.2425 9.3913 5.89375 9.3913 5.5V4.5C9.3913 4.25925 9.29739 4.026 9.13043 3.84375V2.514C9.14504 2.3765 9.20243 1.558 8.5847 0.88275C8.04887 0.297 7.17939 0 6 0C4.82061 0 3.95113 0.297 3.4153 0.8825C2.79756 1.55775 2.85496 2.3765 2.86957 2.514V3.84375C2.70261 4.026 2.6087 4.25925 2.6087 4.5V5.5C2.6087 5.80425 2.75296 6.088 2.99922 6.27725C3.23817 7.184 3.73826 7.86725 3.91304 8.0865V8.91375C3.91304 9.15575 3.7753 9.37775 3.55383 9.49375L1.22661 10.7102C0.469826 11.106 0 11.8645 0 12.6905V13.5C0 14.6865 3.92478 15 6 15C8.07522 15 12 14.6865 12 13.5V12.7393C12 11.8798 11.5015 11.1067 10.6993 10.7222Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

  }
  @media ($desktop_width) {
    &:before {
      right: 23px;
    }
  }
}

.callback__form-item--phone {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M12.7086 10.2824L10.7009 8.26995C10.301 7.87077 9.63881 7.8829 9.22499 8.2978L8.21353 9.31133C8.14963 9.27603 8.08349 9.23916 8.01395 9.20004C7.37522 8.84533 6.50101 8.35916 5.58109 7.43648C4.65844 6.51185 4.17292 5.63432 3.81792 4.99373C3.78046 4.92586 3.74457 4.86043 3.70913 4.79829L4.38797 4.11893L4.72171 3.78402C5.13616 3.36851 5.14759 2.70498 4.74864 2.30464L2.74099 0.291991C2.34204 -0.107791 1.67952 -0.0956627 1.26507 0.319841L0.699244 0.890203L0.714706 0.905588C0.524978 1.14823 0.366435 1.42807 0.248453 1.72986C0.139695 2.01712 0.0719828 2.29124 0.0410212 2.56592C-0.224076 4.76861 0.780215 6.7817 3.50573 9.51343C7.27322 13.2892 10.3093 13.004 10.4403 12.99C10.7256 12.9559 10.999 12.8875 11.2768 12.7794C11.5753 12.6625 11.8543 12.5039 12.0962 12.3141L12.1086 12.3251L12.6818 11.7625C13.0954 11.3471 13.1073 10.6834 12.7086 10.2824Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  @media ($desktop_width) {
    &:before {
      right: 28px;
    }
  }
}

.callback__form {
  @media ($desktop_width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.callback__form-policy-wrapper{
  @media ($desktop_width) {
    font-size: 10px;
    line-height: 12px;
    color: #858585;
    margin-left: auto;
    margin-right: auto;
  }
}
