.contacts__title{
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 28px;
  color: #20252C;
}

.contacts__item-title{
  color: #20252C;
  opacity: 0.5;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.contacts__item-tel{
  color: #20252C;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  margin-bottom: 30px;
  display: inline-block;
}
