.main-nav__wrapper{
  display: none;
}
.main-nav{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
}

.main-nav__toggle-wrapper{
  width: 20px;
  height: 15px;
  background-color: inherit;
  border: none;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.main-nav__toggle{
  border: none;
  width: 20px;
  height: 1px;
  border-radius: 1px;
  background: #FFFFFF;
  position: relative;
  display: block;
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    border-radius: 1px;
    right: 0;
    width: 20px;
    background: #FFFFFF;
  }
  &:before{
    top: -5px;
  }
  &:after{
    bottom: -5px;
    width: 12px;
  }
}

.main-nav__phone-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.main-nav__phone-item{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.main-nav__callback-link{
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 2px;
}
