.popup {
  max-width: 405px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  border-radius: 29px;
  position: relative;
  padding-bottom: 58px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup__title{
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding-top: 50px;
  margin-bottom: 30px;
}

.popup__form{
  & .callback__form-item{
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    margin-bottom: 18px;
  }
  & .callback__form-input{
    background: #F7F7F7;
    opacity: 1;
  }
  & .callback__form-policy-wrapper{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #858585;
  }
}
