.shorten__wrapper{
  margin-bottom: 84px;
}
.shorten__title{
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.shorten__subtitle{
  font-weight: 250;
  font-size: 40px;
  line-height: 140.62%;
  text-align: center;
  color: #000000;
  margin-bottom: 19px;
}
